# Exclude Jars
jars/
*.jar

#Exclude Jsons
*.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Visual Studio COde Files
.vscode/

#Virtual Environment
.venv/
IISMvenv/

