# Exclude Jars
jars/
*.jar

#Exclude Jsons
*.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Visual Studio COde Files
.vscode/

#Virtual Environment
.venv/

#Visual Studio Gitignore
*.dll
*.pdb
obj/**
bin/**
runtimes/**
*.user
*.PublishSettings
publish.cmd
packages/
.vs/

#c++
cpp_sample.obj
cpp_stream_data.exe 

#Bot
Bot/
