# Exclude Jars
jars/
*.jar

#Not in frontend
#Exclude Jsons
#*.json


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Visual Studio COde Files
.vscode/

#Virtual Environment
.venv/
IISMvenv/


#Exclude libraries 
.dll 


#c++
cpp_sample.obj
cpp_stream_data.exe 
tobii_interaction_lib_cs.deps.json

#Visual Studio and Bot
.vs/
CoreBot.csproj.user
Properties/
bin/
obj/
publish.cmd
visbotapp.PublishSettings